@charset "UTF-8";

:root {
    --azul-escuro:#001220;
    --azul-claro:#2978A0;
    --vermelho:#E40520;
    --vermelho-escuro:#990000;
    --amarelo:#FCD700;
    --branco:#F0EEED;
}

/*========== fontes ================================================================*/

@font-face {
    font-family: vmLTech;
    src: url(fonte/conthrax-sb.ttf);
}

@font-face {
    font-family: paragrafo;
    src: url(fonte/ShareTech-Regular.ttf);
}

body {
    color: rgb(0, 220, 220);
    margin: 0%;
    background-color: var(--azul-escuro);
}

h1 {
    font-family: vmLTech;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-family: vmLTech;
}

p {
    font-family: paragrafo;
    font-size: large;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
    text-indent: 10%;
    line-height: 25px;
}

a {
    font-family: paragrafo;
    font-size: large;
    color: green;
}

div.p {
    margin: auto;
    max-width: 800px;
}

div.mvv {
    display: inline-block;

    width: 1000px;
    max-width: 300px;
    height: 300px;

    border-style: solid;
    border-color: black;
    border-radius: 20px;
    background-color: var(--branco);
    color: var(--azul-escuro);
}

div.mvv h1 {
    margin-bottom: 0%;
}

div.mvv p {
    padding: 0%;
    margin: 0%;
    text-align: left;
}

a.prox {
    color: var(--azul-claro);
    text-align: center;
    margin
}

/*========== header =================================================================*/

header {
    background-image: linear-gradient(var(--vermelho), var(--vermelho-escuro));
}

header img {
    display: block;
    margin: auto;
    width: 2000px;
    max-width: 300px;
}

header h1{
    color: var(--branco);
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 10px;
}

header nav {
    padding: 10px;
}

header a {
    font-weight: bolder;
    color:var(--branco);
    text-decoration: none;
}

header span.nav {
    display: inline-block;
    padding: 10px;
    text-align: center;

    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

header span.nav:hover {
    transition-duration: 0.5s;

    border-radius: 15px;
    background-color: var(--vermelho);
}

/*======== main ======================================================================*/

main {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;

    /*min-height: 500px;*/
    width: 85%;
    max-width: 1000px;

    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);
    /*background-color: rgb(0, 200, 200);*/
    background-color: var(--branco);

    color: black;
}

main img {
    padding: 10px;
}

main p {
    margin-bottom: 0px;
    margin-top: 0px;
}

main h1, h2{
    padding: 20px;
    margin: 0;
}
